*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:cursive
}
html, body{
    height: 100%;
    width: 100%;
}
.container{
    height: 100%;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.523);
}
.nav{
   width: 100%;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 40px;
    
}
.nav-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}
.nav h3{
    font-size: 16px;
    border: 2px solid black;
    padding: 5px 10px;
     border-radius: 50px;

}
.nav i{
    font-size: 16px;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 50px;
}
.nav h1{
    font-size:22px;
    text-transform: uppercase;
}
.nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5px solid black;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
}
#btn-login{
    background-color: orangered;
    color: white;
    font-weight: 400;
}
.content{
    color: black;
    font-size: 127px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;

}
img{
    height: 500px;
    width: 350px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
}
#btm-left{
    position: absolute;
    bottom: 3%;
    left: 5%;
    font-size: 18px;
}
.btm-right{
    font-size: 30px;
    position: absolute;
    right: 5%;
    bottom: 3%;
}